:root {
    --akcent: #24c586;
    --akcent-hover: #1faa75;

    --gradient-1: #1B9465;
    --gradient-2: #24C586;
    --gradient-3: #23a6d5;
    --gradient-4: #1A68AB;
    --gradient-5: #102980;

    font-size: 18px;
}  

html{
    background: radial-gradient(var(--gradient-2), var(--gradient-4));
    background-repeat: no-repeat;
	animation: otaceni 15s linear infinite;
    background-size: 200% 200%;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: white;
}

@media only screen and (max-width: 768px) {
    #gameBoard {
        flex-direction: column!important;
    }
    .hraciPole{
        gap: 5px!important;
    }
    .karta{
        box-shadow: 0px 0px 3px 3px rgba(19,21,20,0.5)!important;
        -webkit-box-shadow: 0px 0px 3px 3px rgba(19,21,20,0.5)!important;
        -moz-box-shadow: 0px 0px 3px 3px rgba(19,21,20,0.5)!important;
    }
    html{
        background-size: 400% 400%!important;
    } .celaObrazovka{
        margin-top: 30px!important;
        margin-bottom: 30px!important;
    }
}

.red{
    background-color: red !important;
}

@keyframes otaceni {
    0% {
        background-position: 0% 0%;
    }
    25% {
        background-position: 100% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    75% {
        background-position: 0% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.celaObrazovka{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    padding-right: 30px;
    padding-left: 30px;
}

.flex-collumn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.radek{
    gap: 20px;
    display: flex;
    align-content: center;
}

.footer{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: -20px;
    align-items: center;
}

.odkaz{
    text-decoration: underline;
    cursor:pointer
}

.odkaz:hover{
    color: var(--akcent);
}

#menu, #vyhra, #info{
    position:relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: fit-content;
    min-width: 150px;
    max-width: 90%;
    padding: 30px;
    border-radius: 50px;
    background-color: rgba(10, 10, 10, 0.7);
}

#info{
    height: fit-content;
    align-self: center;
    text-align: left !important;
    margin-top: 30px;
    margin-bottom: 30px;
}

#gameBoard{
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
}

.welcomeText{
    margin-bottom: 40px;
    text-align: center;
}

#lobbyCreateError{
    margin-top: 10px;
}

#hlavicka{
    text-align: center;
    color:white;
    padding: 20px;
}

.hraciPole{
    display: grid;
    grid-template-columns: repeat(var(--sloupce), 1fr);
    grid-template-rows: repeat(var(--radky), 1fr);
    gap: 15px;
    max-width: 80vw;
    max-height: 80vh;
    aspect-ratio: 1;
}

.nahled{
    --sloupce: 6;
    --radky: 6;
    max-height: 60vh;
}

.karta img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
}

.karta{
    background-color: white;
    overflow: hidden;
    border-radius: 15% 85% 15% 85% / 85% 15% 85% 15% ;
    box-shadow: 0px 0px 3px 5px rgba(19,21,20,0.5);
    -webkit-box-shadow: 0px 0px 3px 5px rgba(19,21,20,0.5);
    -moz-box-shadow: 0px 0px 3px 5px rgba(19,21,20,0.5);
    transition: ease-in-out 200ms;
    cursor: pointer;
}

.karta:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 13px 5px rgba(0,199,140,0.5);
    -webkit-box-shadow: 0px 0px 13px 5px rgba(0,199,140,0.5);
    -moz-box-shadow: 0px 0px 13px 5px rgba(0,199,140,0.5);
}

.otocena-karta{
    z-index: 5;
}

.otocena-karta:hover{
    z-index: 6;
    transform: scale(2);
}

.skryte{
    display: none !important;
}

.skryta-karta{
    opacity: 0;
    pointer-events: none;
}

.gallery-item{
    background-color: white;
    overflow: hidden;
    border-radius: 15% 85% 15% 85% / 85% 15% 85% 15% ;
}

.gallery-item img{
    height: 100%;
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;

}

.back{
    margin:auto;
    color: white;
    padding: 10px!important;
    border-radius: 50px !important;
    aspect-ratio: 1/1;
}

.kulate{
    padding: 10px!important;
    border-radius: 50px !important;
    aspect-ratio: 1/1;
}

.back svg{
    fill: white;
}

.rozlozeni{
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Formulář */

label{
    margin-top: 10px;
}

.selected{
    background-color: red !important;

}
/* Tlačítka */

.tlacitko {
    max-width: fit-content;
    background-color: var(--akcent); /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    transition: ease-in-out 200ms;
}

.tlacitko:hover{
    background-color: var(--akcent-hover);
    transform: scale(1.1);
}

.buttonIn {
    width: 300px;
    position: relative;
    margin-top: 20px;
}

input {
    width: 100%;
    margin: 0px;
    padding: 15px;
    outline: none;
    border-radius: 50px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.uvnitr {
    position: absolute;
    aspect-ratio: 1;
    padding: 12px;
    top: 5px;
    border-radius: 50px;
    right: 7px;
    z-index: 2;
    border: none;
    cursor: pointer;
    transform: translateX(2px);
    
}

#jmenoHrace{
    margin-bottom: unset;
}

.uvnitr:hover{
    transform: translateX(2px);
}

/* ANIMOVANÝ NADPIS PEXESO */

.pexeso {
    width: 40vw;
}
.pexeso path {
    fill: none;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: draw-stroke 3s linear forwards;
}

.leaderboards{
    max-width: 100%;
    max-height: 100px;
    width: auto;
}

.leaderboards path{
    fill: none;
    stroke: white;
    stroke-width: 1px;
    stroke-dasharray: 600px;
    stroke-dashoffset: 600px;
    stroke-linecap: round;
    stroke-linejoin: round;
    animation: draw-stroke 7s linear forwards;
}

@keyframes draw-stroke {
    100% {
      stroke-dashoffset: 0;
    }
}

.playerOnMove{
    color: red;
}

#playerList, .listOfPlayers{
    text-align: left;
    font-size: 20px;
}

#players{
    width: 100%;
    margin-bottom: 10px;
}

#tlacitka{
    display: flex;
    flex-direction: column;
    width: 100%;
}

#potvrdit, .margin-t-20{
    margin-top: 20px!important;
}

.margin-b-10{
    margin-bottom: 10px;
}

/* TLAČÍTKO */

.glow-on-hover {
    margin:auto;
    width: fit-content;
    height: 50px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    border: none;
    outline: none;
    color: #111;
    background: #FFF;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 50px;
    text-transform: uppercase;
}

.glow-on-hover:before {
    content: '';
    /*background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);*/
    background: linear-gradient(45deg, var(--gradient-2), var(--gradient-3), var(--gradient-5), var(--gradient-3));
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 50px;
}

.glow-on-hover:active {
    color: #FFF
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #FFF;
    left: 0;
    top: 0;
    border-radius: 50px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* LEADERBOARDS */
.row {
    align-self: center;
    display: flex;
    width: 1200px;
    max-width: 100%;
    gap: 20px;
  }
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 33%
}
  
@media screen and (max-width: 768px) {
    .row {
      flex-direction: column;
    }
}

#pointsEarned, #wins, #gamesPlayed {
    width: fit-content;
    padding-left: 25px;
    
    
    li:first-child{
        color: goldenrod;
        font-size: 24px;
        text-shadow: goldenrod 1px 0 10px;
    }
    li:nth-child(2){
        color: #C0C0C0;
        font-size: 22px;
        text-shadow: #C0C0C0 1px 0 10px;
    }
    li:nth-child(3){
        color: #CD7F32;
        font-size: 20px;
        margin-bottom: 10px;
        text-shadow: #CD7F32 1px 0 10px;
    }
}

.show-popup {
    padding: 18px 40px;
    background: #6e78ff;
    border: none;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
  }
  .popup-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
  }
  .popup-container.active {
    opacity: 1;
    pointer-events: auto;
    transition: .4s ease;
  }
  .popup-container .popup-box {
    background: #f2f2f2;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    padding: 30px;
    transform: scale(0);
    align-items: center;
  }
  .popup-container.active .popup-box {
    transform: scale(1);
    transition: .4s ease;
    transition-delay: .25s;
    gap: 10px;
    display: flex;
    flex-direction: column;
  }
  .popup-box h2 {
    color: #333;
    line-height: 1;
    text-align: center;
  }
  .popup-box p {
    color: #333;
    margin: 12px 0 20px;
  }
  .popup-box .close-btn {
    width: 100%;
    padding: 15px;
    background: #6e78ff;
    border-radius: 6px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 18px;
    color: #f2f2f2;
    font-weight: 500;
  }